doctype html
html
  head
    title= 'MyTailer'
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.min.css')
    link(href="/stylesheets/star-rating.min.css" media="all" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/javascripts/jquery-2.1.4.js')
    script(src="/javascripts/star-rating.min.js")
    style.
       .panel{
          max-width:600px;
          background-color: rgba(255,255,255,0.7);
       }
       .alert{
          max-width: 70%;
          margin: 0px auto 10px auto;
        }
        body{
         background-size: contain;
        }
        table{
            table-layout: fixed;
        }
        td{
            word-break: break-all;
        }
       .choiceTdLeft{
            border-bottom: 5px solid white;
            border-right: 5px solid white;
            text-align: center;
            font-size: 20px;
        }
       .choiceTdLeftImg{
            border-right: 5px solid white;
            text-align: center;
            font-size: 20px;
        }
       .choiceTdLeftBottom{
            border-right: 5px solid white;
            text-align: center;
            font-size: 20px;
        }
       .choiceTdRight{
            border-bottom: 5px solid white;
            text-align: center;
            font-size: 20px;
        }
       .choiceTdRightImg{
            text-align: center;
            font-size: 20px;
        }
       .choiceTdRightBottom{
            text-align: center;
            font-size: 20px;
        }
       .form-signin{
         background: rgba(235,235,235,0.7);		 
         border-radius: 10px 10px 10px 10px;
         -moz-border-radius: 10px 10px 10px 10px;
         -webkit-border-radius: 10px 10px 10px 10px;
         border: 0px solid #000000;
         max-width: 330px; 
         margin:0px auto; 
         padding: 15px
       }
       .form-customerHome{
         background: rgba(235,235,235,0.7);		 
         border-radius: 10px 10px 10px 10px;
         -moz-border-radius: 10px 10px 10px 10px;
         -webkit-border-radius: 10px 10px 10px 10px;
         border: 0px solid #000000;
         max-width: 330px; 
         margin:0px auto; 
         padding: 15px
       }
       .logo-customerEntry{
         max-width: 330px; 
         margin:0px auto 20px auto;
       }
       .3Btn-customerEntry{
         max-width: 300px; 
         margin:0px auto; 
         padding: 15px
       }
       .P-customerEntry{ 
         margin-left: 13px;
       }
       .typeChooseImg{
            background-image: url("/images/typeChooseThinking2.gif");
            background-size: 70% 100%;
            background-position:center;
            width: 100%;
            height: 150px;
            background-repeat: no-repeat;
            margin: 0px auto;
        }
       .typeChooseTitle{
            padding-top: 55px;
        }
       .typeChooseHr{
            border-top:15px solid #EEE;
            width: 100%;
            margin-top:60px;
            margin-bottom: 0px;
        }
       .customerInfo-label{
            padding-right: 5px;
        }
       .customerForm{
            max-width: 330px; 
            margin:0px auto;
            padding-right: 5px;
            padding-left: 5px
       }
       .priceDigit{
            text-align: right;
        }
       .priceSign{
            text-align: center;
        }
       .priceHr{
            width: 70%;
            text-align: right;
            margin : 0 0 0 auto;
            border-top:2px solid green;
        }	   
       @media only screen  
          and (max-device-width: 736px) { 
               .panel{
                  max-width: 80%;
            }
       }
       .smooth-corner{
           border-radius: 10px 10px 10px 10px; 
           -moz-border-radius: 10px 10px 10px 10px;
           -webkit-border-radius: 10px 10px 10px 10px;
           border: 0px solid #000000;
        }
       .entryBtn{
            width: 80%;
        }
       .entryExp{
            width: 20%;
        }
        th{
            text-align: center;
        }
        .orderCustomerHr{
            border-top:1px dashed #8c8b8b;
        }
        .orderCustomerHr:after{
            content: '\002702';
            display: inline-block;
            position: relative;
            top: -12px; 
            left: 20px; 
            padding: 0 3px; 
            color: #8c8b8b; 
            font-size: 18px; 
        }
       .typeExample{
            margin: 0px 5%;
        }
       .edit{
            margin-left: 20px;
        }
    script.
        $("#input-id").rating();
        $("#input-id").rating({min:1, max:10, step:2, size:'lg'});
  body
    nav(class='navbar navbar-inverse navbar-fixed-top')
      .container
        .navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only")= 'Toggle navigation'
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand" href="/myCustomer") <返回买家主页
        div(id="navbar" class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            li               
               if session&&session.customer
                  a(href="/myCustomer/logout")= '登出'
               else 
                  a(href="/myCustomer/login")= '登录/注册'
            li
                a(href="/myCustomer/customerEntry")= '进入主页'			
    .container
     .starter-template(style='padding:40px 0px')
   
    if(session&&session.flash)	
        if(session.flash.success)        
           div(class='alert alert-success')= session.flash.success
        else if(session.flash.error)
           div(class='alert alert-danger')= session.flash.error
        - session.flash = null
    block content    
    
    footer 
      //p= JSON.stringify(session)
      script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
